@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
  --skill-photo-size-mobile: 5rem;
  --skill-photo-size-sm: 7rem;
  --skill-photo-size-md: 9rem;
  --skill-photo-size-lg: 10rem;
  --skill-photo-size-xl: 12rem;
  --skill-photo-size-2xl: 15rem;
}

* {
  @apply box-border;
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  a {
    @apply text-blue-500;
    @apply underline;
  }
}
